<div id="<%= dom_id artist %>">
  <div class="flex items-center justify-between">
    <div class="flex items-center">
        <span class="mr-2"><%= artist.id %></span>
        <span class="mr-2"><%= link_to artist.name, artist_path(artist.id), class: "text-blue-500 text-bold hover:underline" %></span>
    </div>
    
    <div class="flex items-center">
        <% stars = (artist.popularity / 20.0).round %>
        <span class="mr-2">Pop 
            <% stars.times do %>
                &#9733;
            <% end %>
            <% (5 - stars).times do %>
                &#9734;
            <% end %>
        </span>
        <% if action_name != "show" %>
            <span><%= link_to 'Edit', edit_artist_path(artist), class: "text-blue-500 hover:underline" %></span>
        <% end %>
    </div>
</div>
</div>